/*Navigation*/

#user-icon{
  position: fixed;
  bottom: 0vh;
  right:0.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu{
    position:fixed;
    top:0;
    right:0;
    width: 40px;
    height: 100%;
    background: ivory;
    font-size: 16px;
    font-family: sans-serif;
}

.menu_item{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  text-decoration: none;
  color: #666;
}

.menu_item i{
  font-size: 2.2em;
}

/*Navigation End*/

/* Main Body */
.main_container{
  margin-right: 40px;
}

/* .map {
  height: 100vh;
  width: 100%;
} */

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

html, body, #map {
  height: 100vh;
}

.lorem {
  font-style: italic;
  color: #AAA;
}

#mouse-position{
  position:fixed;
  bottom:6vh;
  left:2vh;
  padding:2px;
  height:fit-content;
  font-size:x-small;
  border-radius: 2px;
  background-color:cornflowerblue;
  color:white
}
