/*Navigation*/

.menu{
    position:fixed;
    top:0;
    right:0;
    width: 50px;
    height: 100%;
    background: #eeeeee;
    font-size: 16px;
    font-family: sans-serif;
}

.menu_item{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  text-decoration: none;
  color: #666;
}

.menu_item i{
  font-size: 2.2em;
}

/*Navigation End*/

/* Main Body */
.main_container{
  margin-right: 75px;
}

.map {
  height: 100%;
  width: (100%-75px);
}

